html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin:0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg,rgba(238, 174, 202, 1) 0%, rgba(196, 180, 216, 1) 52%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    justify-content: center;
    height: inherit;
}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: auto;
    padding: 20px 35px;
}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    font-size: 35px;
    overflow: hidden;
    padding:20px;
    text-align: right;
    width:326px;
}

.calc-button-row {
    display: flex;
    gap:12px;
    justify-content: flex-start;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: 1px solid rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex:1;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: 1px solid rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color:#fff;
    background-color: rgba(203, 116, 161, 0.65);
}

.calc-button:last-child:hover {
    background-color: inherit;
    color: inherit;
}

.calc-button:hover {
    background-color: inherit;
}

.calc-button:active {
    background-color: rgba(203, 116, 161, 0.65);
}

.double {
    flex: 2;
}

.triple {
    flex: 3;
}