body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 16px;
}

#controls {
    margin-bottom: 12px;
}

#container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border:2px solid #333;
}

.square {
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 0px;
    padding:0px;
}

.filled {
    background-color: black
}